@import "tailwindcss";

body {
  font-family: var(--font-zen-maru), sans-serif;
  background-image: url("/blue_background.jpg");
}

@media (max-width: 680px) {
  body {
    font-size: 12px;
  }
}

main {
  background-image: url("/pattern.jpg");
}

.black-text-shadow {
  text-shadow: 1px 1px 2px black;
}
